.center{
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
    text-align: center;
}

.tab{
    color: #db5581 ;
    background-color: #DB558120;
    text-align: center;
    width: 50%;
}

.td{
    text-align: center;
}

.red{
    color:#ff073a;
}
.redp{
    color: rgba(255, 7, 58, 0.6);
    font-weight:900 ;
}

.blue{
    color: #007bff;
}

.green{
    color: #28a745 ;
}

.grey{
    color: #6c757d;
}

.num{
    font-size: 22px;
    font-weight: 600;
}
.plus{
    font-size: 13px;
    padding-bottom: 8px;
    font-weight:900 ;
}
span{
    font-weight: 600;
}

.top{
    padding-bottom: 8px;    
}

.mid{
    padding-bottom: 1px;
}

