/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
.container{
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1rem;
  width: 98%;
  margin: 1%;
  /* font-family: 'Poppins', sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

body{
  background-color: #161625;
}